# =============================================================================

snippet cc
import React, { Component } from 'react';

class ${1:ClassName} extends Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (<${2}>
      ${3}$0
    </$2>);
  }
}

export default $1;
endsnippet

snippet ren
render() {
  return (<${1}>
    ${2}
  </$1>);
}$0
endsnippet

snippet sst "set state" b
this.setState({
  ${1}: ${2}
});$0
endsnippet

